h1 {
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 3%;
}

h2, link {
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

p {
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 10px;
  text-align: center;
}

.leaflet-container {
  margin: 3%;
  height: 700px;
  width: 700px;
  padding-left: 20%;
}

/* .button {
  text-align: center;
  background-color: white;
} */

button {
  border: none;
  text-align: center;
  color: goldenrod;
}