h1 {
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 3%;
}

h2, link {
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

h3 {
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 2%;
}

p {
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 10px;
  text-align: center;
}

.leaflet-container {
  margin: 2%;
  height: 700px;
  width: 60%;
  margin-left: 20%;
}


.btn-group-wrap {
  text-align: center;
  color: goldenrod;
  padding-top: 2%;
  border: none;
}

button {
  text-align: center;
  color: goldenrod;
  border: none;
}

marker {
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

.list {
  margin: 5%;
}

.name, title {
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.contact, location, date, email {
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 15px;
}