body {
    background-image: url('/images/greatHall.jpg');
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    font-family: 'IM Fell DW Pica', serif;
    z-index: -1;
}

.Gryffindor{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 300px;
    position:absolute; float: left; left:0px;
  
}
.Gryffindorimg{
    max-width: 100%;
    max-height: 100%;
    
}

.Slytherin{
    display: flex;
    justify-content: flex-end;
    width: 250px;
    height: 300px;
    position:absolute; float:right; right:0px;
    text-align: right;
}
.Slytherinimg{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: flex-end;
}

.Ravenclaw{
    width: 250px;
    height: 300px;
    text-align: right;
    position:absolute; float:right; right:0px; bottom:0px;
}

.Ravenclawimg{
    max-width: 100%;
    max-height: 100%;
}

.Hufflepuff{
    width: 250px;
    height: 300px;
    position:absolute; float:left; left:0px; bottom:0px;
}
.Hufflepuffimg{
    max-width: 100%;
    max-height: 100%;
}

.sorting{
    display: flex;
    justify-content: center; 
    height: 80%; 
    left: 7%;
    flex-direction: column;
}
.paper{
    margin-top: 5%;
    max-height: 90%;
    margin-left: -15%;
    position:absolute; z-index: -1;
    justify-content: space-between;
}

.app{
 z-index: 3;
 display: flex;
 justify-content: center;
 width: 100%;
 height: 100%;
 position: absolute;
}

.crest{
    display: flex;
    justify-content: center; 
    height: 200px;
    margin-top: 1%;
    margin-left: 40%;
    z-index: 4;
}
.app > form >div input[type="text"] {
    border: 3px solid #555;
    background-color: transparent;
    box-sizing: border-box;
	margin-top: 200%;

   
}
.app > form{
    margin-left: -50%;
}
h1{

	margin-top: 8%;
	margin-right: 30%;
	z-index: 4;

}