/* Main CSS */

* {
  box-sizing: border-box;
  border: 0.2px solid red;
}

html, body {
  background-color: pink;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
}

.frame {
  width: 100%;
  margin: auto;
}


/* Nav */

.nav {
  box-sizing: border-box;
  border-top: 20px solid #ffdf8b;
  border-bottom: 20px solid #ffdf8b;
  border-right: 40px solid #ffdf8b;
  border-left: 40px solid #ffdf8b;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 40;
  top: 0;
}

.nav ul {
  position: fixed;
  display: flex;
  width: 98%;
  margin: auto;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 10;
  top: 0;
  background-color: #ffdf8b;
  padding: 1.5rem;
}

.nav li {
  font-size: 1.8rem;
  text-align: center;
  width: 100%;
  
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  border-bottom: 2px solid darkslateblue;
}

.current {
  color: darkslateblue;
}

/* Bron Home */

.content-home {
  margin-top: 4%;
  margin-left: 0;
  min-width: 100vw;
  height: 800px;
  background: url('images/catsun.jpg') no-repeat left top;
}

#title {
  width: 50%;
  left: 10%;
}

#thought {
  width: 50%;
  left: 20%;
  margin-top: 8%
}

#main-title {
  position: absolute;
  font-size: 60px;
  color: darkred;
  text-align: left;
  width: 20%;
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
}

.menuBox {
  margin-top: 3%;
}

/* Indi Rules */

/* Shane Events */

/* Caitlyn Facilities */

/* Anthony Menu/Shopping */
